{
  "root": true,
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/prop-types": 0,
    "max-len": ["warn", { "code": 120 }],
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": ["webpack.*.js", "server.js"] 
}